<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Attendance System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" style="color:white" href="#">Employees Management System</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" style="color:white" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" style="color:white" href="/employees">Employees</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" style="color:white" href="/attendance">Attendance</a>
	<div class="container">
		<h1>Employee Attendance System</h1>
		<hr>
		<h2>Save Employee</h2>

		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
			method="POST">
			<input type="text" th:field="*{firstName}"
				placeholder="Employee First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}"
				placeholder="Employee Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}"
				placeholder="Employee Email" class="form-control mb-4 col-4">

				<input type="password" th:field="*{password}"
				placeholder="Employee Password" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Employee</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/employees}"> Back to Employee List</a>
	</div>
		</ul>
			</div>
			</li>
</nav>

</body>

</html>